@model DefenseSim.ModelsAttack.Threat

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Threat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="OriginId" class="control-label"></label>
                <select asp-for="OriginId" class="form-control" asp-items="ViewBag.OriginId"></select>
                <span asp-validation-for="OriginId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DestinationId" class="control-label"></label>
                <select asp-for="DestinationId" class="form-control" asp-items="ViewBag.DestinationId"></select>
                <span asp-validation-for="DestinationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LaunchTime" class="control-label"></label>
                <input asp-for="LaunchTime" class="form-control" />
                <span asp-validation-for="LaunchTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeaponId" class="control-label"></label>
                <select asp-for="WeaponId" class="form-control" asp-items="ViewBag.WeaponId"></select>
                <span asp-validation-for="WeaponId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BarrageSize" class="control-label"></label>
                <input asp-for="BarrageSize" class="form-control" />
                <span asp-validation-for="BarrageSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BarrageCount" class="control-label"></label>
                <input asp-for="BarrageCount" class="form-control" />
                <span asp-validation-for="BarrageCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BarrageDelay" class="control-label"></label>
                <input asp-for="BarrageDelay" class="form-control" />
                <span asp-validation-for="BarrageDelay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResponseId" class="control-label"></label>
                <select asp-for="ResponseId" class="form-control" asp-items="ViewBag.ResponseId"></select>
                <span asp-validation-for="ResponseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
